// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #fbf7f0;
  text-align: center;
  font-size: 18px;
}

.box {
  padding: 16px;
  border: 4px solid #89beb3;
}

h1 {
  color: #555555;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
}
